body{margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
color:#787471;}
.top_header{
	padding:15px 0;
	overflow: hidden;
}
.container{
	width:1180px;
	margin:0 auto;
	overflow: hidden;
}
*{
transition:all 0.4s ease ;
-webkit-transition:all 0.4s ease ;
-moz-transition:all 0.4s ease ;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;

}
.bg-color{
	background-color: #F5F6F1;
}
ul{
margin:0;
padding:0; 
}
.contact{
	width:50%;
	float:left;
	color:#787471;
	font-size: 14px;

}
.contact ul li{
	list-style: outside none none;
display: inline-block;
margin-right: 30px;
}
.contact ul li i{
	margin-right: 6px;
}
.hedder_menu{
	width: 50%;
float: right;
font-size: 14px;	

}
.hedder_menu ul{
	text-align: right;
}
.hedder_menu ul li{ 
display: inline-block;
list-style-type: none;
color: #f55856;
font-size: 17px;
margin-left: 30px;
 }
.hedder_menu ul li a{
	text-decoration: none;
text-transform: uppercase;
color: #787471;



}
.hedder_menu ul li a:hover{
color: #F56764;
}
#header_fotter{
	padding: 55px 0px;
}
.bullsy{
width:20%;
float:left;
}
.text{
	
	text-transform: uppercase;
	display:inline-block;
} 
.text h2{
	font-size: 48px;
	margin:0;
padding:0;
}
.text p{
margin:0;
padding:0;
font-size: 15px;
line-height: 0.8;
}
.bullsy .logo{
display:inline-block;

}
.bullsy .logo img{
}

.menu{
	float: left;
width: 60%;
margin-top: 30px;}
.menu ul{
text-align: center;
}
.menu ul li{
	display: inline-block;
list-style-type: none;
color: #f55856;
font-size: 17px;}
.menu ul li a{
	text-decoration: none;
text-transform: uppercase;
color: #787471;
font-size: 17px;
padding: 0px 15px;
}
.menu ul li a:after{
	content:;
}
.menu ul li:last-child:after{

}

.menu ul li a:hover{
	color:#F56764;
}

.cart{
width: 20%;
float: left;
padding: 11px 0px;
text-align: right;
}
.cart-text{
	display:inline-block;}
.cart-text p{
	margin:0;
	padding:0;
}
.cart-logo{
	display:inline-block;
}


.slider{
position:relative;
margin:30px 0; 
}
.catagories{
position: absolute;
margin: 0;
padding: 0;
text-transform: uppercase;
left: 90px;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
}
.catagories ul li{
	list-style: none;
}
.catagories ul li a{
	color: #fff;
text-decoration: none;
font-size: 50px;
font-family: 'Oswald', sans-serif;
font-weight: 900;
line-height: 1.5;
}
.catagories ul li a:hover{
color:black;
}
.buler{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.position{
	width:100%;

}
.services{
	width:31%;
	float:left;
	text-align: center;
	padding: 15px 0;
	overflow: hidden;
}
.services h2{
margin:0;
padding:0;
}
.services p{
margin:0;
padding:0;
}


.new_shoes{
	width:31%;
	float:left;
	text-align: center;
	padding: 15px 0;
	overflow: hidden;
	margin: 0 35px;
}
.new_shoes h2{
margin:0;
padding:0;
}
.new_shoes p{
margin:0;
padding:0;
}
.money_back{
	width:31%;
	float:left;
	text-align: center;
	padding: 15px 0;
	overflow: hidden;
}
.money_back h2{
margin:0;
padding:0;
}
.money_back p{
margin:0;
padding:0;
}
/*id section*/
#portfolio_one{
	border-top: 1px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;
margin-top: 40px;
position: relative;
padding: 40px 0;
}
#portfolio_two{
	padding: 40px 0;
	position:relative;
}
#portfolio_three{
	border-top: 1px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;
position: relative;
padding: 40px 0;
}
#portfolio_four{
	position: relative;
padding: 40px 0;
}
/*portfolio heading section*/
.portfolio_heading{
	position: relative;
	z-index: 0;
}
.portfolio_heading{
	text-align: center;
	margin-bottom: 40px; 
}	
.portfolio_heading h2{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #463f3a;
	margin: 0;
}
.portfolio_heading h2 span{
	background-color: #f5f6f1; /*#f5f6f1;*/
	padding: 0 5px;
}
.portfolio_heading{
	position: relative;
	z-index: 0;
}
.portfolio_heading:after{    
	position: absolute;
    content: "";
    width: 100%;
    background-color: #463f3a;
    height: 1px;
    left: 0;
    top: 55%;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    z-index: -1;
}
.portfolio_heading:before{
	position: absolute;
	content: "";
	width: 100%;
	background-color: #463f3a;
	height: 3px;
	left: 0;
	top: 42%;
    transform: translateY(-42%);
    -webkit-transform: translateY(-42%);
    -moz-transform: translateY(-42%);
    z-index: -1;
}
/*colum section*/

.col-3{
	width: 32.2%;
	float: left;
	background-color: #fff;
}
.col-3 img{
	max-width: 100%;
	width: 100%;
}
#col-3_middle{
	margin: 0 20px;
}
.col-3_text{
	padding: 20px;
	
}
.col-3_text h1{

	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
	color: #463f3a;

}
.col-3_text p{
	color: #463f3a;
	font-size: 16px;
	font-style: italic;}

	.link{
		text-decoration: none;
		color:#f55856;
		font-weight: bold;
	}
	.link:hover{
		color: #e7672b;
	}
.col-4{
	width: 23.725%;
	float: left;
}
.col-4 img{
	max-width: 100%;
	width: 100%
}
#col_4_2nd{
	margin: 0 20px;
}
#col_4_3rd{
	margin-right: 20px;
}
.col-4 button{
	width: 100%;
	background-color: #463f3a;
	border: 0px;
	padding: 6px 0px;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

.col-4 button a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}
.col-4 button:hover{
	background-color: #a19f9e;
	border: 1px solid #9d8f8f;
	
}
.col-4 p{
	color: #000;
	font-size: 16px;
	margin: 18px 0;
}
.col-4 strong{
	color: #000;
	font-size: 18px;
	margin-bottom: 18px;
	display: block;
}
/*rugged section*/
#rugged{
	text-align: center;
	padding: 45px 0;
}
#rugged h1{
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	margin: 0;
	color: #463f3a;

}
#rugged p{
	font-size: 15px;
	font-family: arial;
	margin: 0;
	color: #6c6c6c;
	
}
#rugged p a{
	text-decoration: none;
	color: #f55856; 
}
/*footer section first*/
#footer{
	background-color: #463f3a;
	padding: 82px 0;

}

.footer_logo{
	float: left;
	width: 20%;
}
.footer_logo_text{
	display: inline-block;
	float: left;
}
.footer_logo_text h1{
	font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #fff;
    line-height: .8;

}
.footer_logo_text p{
	margin: 0;
	font-family: arial;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: -.1px;
	line-height: 1.6;
}
.footer_logo_icon{
	display: inline-block;
	float: left;
	padding-left: 4px;
}


.footer_nev{
	float: left;
	width: 70%;
	padding-top: 0px;
	
}

.footer_nev ul{
	text-align: center;
	margin: 0;
	padding: 0;
	
}

.footer_nev ul li{
	display: inline-block;
	list-style-type: none;
	color: #f55856;
	font-size: 17px;
	font-family: arial;
	font-weight: 300;
}

.footer_nev ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: 0 18px;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

.footer_nev ul li a:hover{
	color: #f55856;
	text-shadow:1px 1px 3px #fff;
}
.footer_nev p{
	text-align: center;
	color: #fff;
	font-family: arial;
	font-weight: 200;
	font-size: 13px;
	padding-top: 10px;
}

.footer_up_button{
	float: left;
	width: 10%;
	text-align: right;
}
/*footer second*/
#footer-bottom{
	background-color: #eeeeee;
	padding: 15px 0;
}
.social-img{
	width: 50%;
	float: left;
}
.social-img ul{
	margin: 0;
	padding: 0;
}
.social-img ul li{
	float: left;
	list-style-type: none;
	padding: 0 10px;
}
.social-img ul li:first-child{
	padding-left: 0;
}
.creators{
	width: 50%;
	float: left;
	text-align: right;	
}
.creators p{
	margin: 0;
	font-size: 15px;
	font-family: arial;
	color: #463f3a;
}
.creators p a{
	text-decoration: none;
	font-weight: 400;
}